@media screen and (max-width:670px) {
header{
    padding:10% 0 0 0;
}
.name_u{
    margin-top: 5px;
    }

    .choice ol{
      width:50%;
      margin:0 auto;
      border-right:0.2px solid white;
      border-radius: 0px;
      opacity: 1;
      line-height: 10px;
      
      
    }
    th{
        font-weight:bold;
    }
    th,td{
        font-size:10px;
    }
  }