<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="stylesheet.css">
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&display=swap" rel="stylesheet">
  </head>
  <body>
    <form>
        <p>ZOOMのURL<br>
        <input type="text" placeholder="ZOOMのURLを貼り付けてください。" size="50"></p>
        <p>ZOOMでカメラを使う？<br>
            <input type="radio" name="q1" value="はい"> はい
            <input type="radio" name="q1" value="いいえ"> いいえ</p>
            <p>
                <select name="example1">
                <option value="サークル">サークル</option>
                <option value="学部">自分の学部について</option>
                <option value="バイト">バイトについて</option>
                <option value="友達">友達作り</option>
                <option value="何でも・雑談">何でも・雑談</option>
                <option value="その他">その他</option>
                </select>
                </p>
        <p>名前(匿名可)<br>
        <input type="text"placeholder="(例)法学部の新入生で交流したい！" size="50"></p>
        <p>一言<br>
        <input type="text" size="50"></p>
        <p>交流開始時刻<br>
        <input type="time" ></p>
        <div class="button">
        <input type="submit" value="投稿する" size="50">
        <input type="reset" value="リセット">
      </div>
    </form>
      
  </body>
</html>