body {
  line-height: 1.25;
  background-image: linear-gradient(to top, rgba(214, 195, 216, 0.774) 0%, rgba(170, 211, 190, 0.7) 100%),url(../static/photo0000-0331.jpg);
}

.ucName {
  font-size: 50px;
  font-weight: bold;
  text-align: left;
  margin-top: 30px;
  margin-left: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title_wrapper {
  display: flex;
  justify-content: space-evenly;
}

.btn1 {
  padding: 1em;
  text-decoration: none;
  background: #5a61ce; /*ボタン色*/
  color: #fff;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
  user-select: none;
  vertical-align: middle;
}


.btn1:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px); /*下に動く*/
  border-bottom: none; /*線を消す*/
}

.btn2 {
  padding: 0.5em 1em;
  text-decoration: none;
  text-decoration: none;
  color: #FFF;
  background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  border-bottom: solid 4px #627295;
  border-radius: 3px;
  user-select: none;
  margin: 0 auto;;
  width: 180px;
  display: block;
}


.btn2:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px); /*下に動く*/
  border-bottom: none; /*線を消す*/
}

.alert{
  text-align: center;
  color: red;
  font-size: medium;
}

.title {
  position: relative;
  padding: 0.25em 0;
  font-size: xx-large;
}

.title:after {
  content: "";
  display: block;
  height: 4px;
  background: -moz-linear-gradient(to right, rgb(242, 70, 173), transparent);
  background: -webkit-linear-gradient(to right, rgb(242, 70, 173), transparent);
  background: linear-gradient(to right, rgb(242, 70, 173), transparent);
}

.search_container {
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 40px;
}
.search_container input[type="text"] {
  border: none;
  height: 1.8em;
}
.search_container input[type="text"]:focus {
  outline: 0;
}

.search_container select{
  border: none;
  height: 1.8em;
  width: 14em;
  padding: 0 auto;
}
.search_container {
  /* border: 2px solid #fff; */
  padding: 3px 5px;
  border-radius: 20px;
  height: 2.2em;
  width: 400px;
  overflow: hidden;
}
.search_container input[type="submit"] {
  cursor: pointer;
  font-family: FontAwesome;
  border: none;
  background: #3879d9;
  color: #fff;
  position: absolute;
  width: 100px;
  height: 3em;
  right: 0px;
  top: -5px;
  outline: none;
}
.search_container ::-webkit-input-placeholder {
  color: #3879d9;
  text-align: center;
}
.search_container >.text1{
  width: 260px;
}

.search_btn{
  display: inline-block;
  border-radius: 25px;
  text-decoration: none;
  color: #FFF;
  background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  transition: .4s;
}

.search_btn:hover{
  background-image: linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
}

table.table {
  margin-top: 0;
  margin-bottom: 40px;
}

table {
  border-collapse: collapse;
  /* margin: 0 auto 1em; */
  margin: auto;
  padding: 0;
  /* width: 100%; */
  table-layout: fixed;
  color: #000;
  margin-top: 20px;
}
h3{
  margin-bottom: 10px;
  font-size: 40px;
}
td.circle{
  color: #ff9900;
  font-size: x-large;
  vertical-align: middle;
  text-align: center;
}
table tr {
  background-color: #fff;
  padding: 0.35em;
  border-bottom: 1px solid #bbb;
}
table thead {
  border-bottom: 5px solid #ff9900;
}
table tr:last-child {
  border-bottom: none;
}
table th,
table td {
  padding: 1em 10px 1em 1em;
  border-right: 1px solid #bbb;
}
table th:last-child,
table td:last-child {
  border: none;
}
.txt {
  text-align: left;
  font-size: 0.85em;
}
.price {
  text-align: right;
}

.twitter_icon{
  /* font-size: 1.5em; */
  color:#55ACEE;
  padding-right: 2px;
}

.instagram_icon{
  /* font-size: 1.5em; */
  font-family:'Pacifico', cursive;
  background-image:radial-gradient(at 20% 120%,orange, #f15a4d 25%, #f13f79 55%, #9933ff 100%);
  padding:2px 3px;
  color:#fff;	
  border-radius:5px;
}

.none {
  pointer-events: none;
}

@media screen and (max-width: 768px) {
  .ucName{
    text-align: center;
  }
  .search_container{
    width: 100%;
  }
  table {
    border: 0;
    /* width: 100%; */
  }
  .cirlcle {
    display: block;
    border-right: none;
    border-bottom: 5px solid #ff9901;
    padding-bottom: 0.6em;
    margin-bottom: 0.6em;
  }
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    display: block;
  }

  table td {
    border-bottom: 1px solid #bbb;
    display: block;
    font-size: 0.8em;
    text-align: left;
    position: relative;
    padding: 0.625em 0.625em 0.625em 4em;
    border-right: none;
  }

  table td::before {
    content: attr(data-label);
    font-weight: bold;
    position: absolute;
    left: 10px;
  }

  table td:last-child {
    border-bottom: 0;
  }
}



