html {
    font-size: 62.5%;
}

body{
    background-repeat: no-repeat;
    background-position: center center;
    background-size:cover;
}

/* それぞれの大学の背景に変更お願いします */
/* 関西大学の背景です */
#school1 {
    background-image:url('../static/kuc.jpg') ;
}
/* 関西学院大学の背景です */
#school2 {
    background-image:url('../static/kgc.jpg') ;
}
/* 同志社大学の背景です */
#school3 {
    background-image:url('../static/duc.jpg') ;
}
/* 立命館大学の背景です */
#school4 {
    background-image:url('../static/ruc.jpg') ;
}

h1 {
    font-size: 5.5rem;
    margin-bottom: 20px;
}

.title2,.title3{
    color:white;
}

p {
    font-size: 2.5rem;
    background-color: white;
    border-radius: 40px;
    width:85rem;
    padding: 2rem 0;
    margin:0 auto;
    margin-top: 4.5rem;
}

.btn-sf-like {
    position: relative;
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    color: #FFF;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.73);
    padding: 0.3em 0.5em;
    background: #00bcd4;
    border-top: solid 3px #00a3d4;
    border-bottom: solid 3px #00a3d4;
    transition: .4s;
    text-align: center;
    width:10em;
    height:7rem;
    line-height: 7rem;
    margin-top: 4.5rem;
    font-size: 3rem;
}
  
.btn-sf-like:hover {
    text-shadow: -6px 0px 15px rgba(255, 255, 240, 0.83),
                 6px 0px 15px rgba(255, 255, 240, 0.83);
}

a {
    text-decoration: none;
    display:block;
}

.box {
    text-align: center;
}

.choice{
    display: flex;
    justify-content: center;
    line-height: 40px;
    margin-top: 50px;;
}
a{
    text-decoration: none;
    color:white;
}

.choice a{
    width:10%;
    padding-inline-start: 0px;
    text-align: center;
    border-radius:10px;
    margin:0 20px;
    padding:16px;
    opacity:0.8;
    font-size: 2rem;
    display:inline-block;
}

.choice a:hover{
    cursor: pointer;
    opacity:1;
}


/* 学校ごとにボタンの色を変更 */
/* 関西大学 */
.btn1 a{
    border:1px solid white;
    background-color:#0d0c87;
    color:white;
}
/* 関西学院大学 */
.btn2 a{
    border:1px solid white;
    background-color:	#FFD700;
    color:white;
}
/* 同志社大学 */
.btn3 a{
    border:1px solid white;
    background-color:#4a0662;
    color:white;
}
/* 立命館大学 */
.btn4 a{
    border:1px solid white;
    background-color:#9b0001;
    color:white;
} 

.line{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    /* letter-spacing: 2; */
    position: absolute;
   top:10px;
   left:10px;
   font-size:2rem;
   margin:0;
   list-style: none;
}

.li2,.li3 {
    color:white;
}

.linelogo{
    text-decoration: none;
    background-color: white;
    font-size:2.5rem;
    margin:0 3px;
    
}
#twilogo{
   color:#00aced;
   /* line-height: 2.5rem; */
   font-size:2.5rem;
   margin:0 3px;
}
.linelogo:hover{
    opacity:0.5;
}
#twilogo:hover{
    opacity:0.5;
}

footer{
    text-align: center;
    font-size:1.5rem;
    margin-top: 9rem;
    letter-spacing: normal;
}

.fo2,.fo3 {
    color:white;
}

@media(max-width: 768px){
    .line{
        font-size:1.2rem;
    }
    
    .choice a{
       width:70px;
       height:70px;
       font-size: 1.75rem;
    }

    .choice a:first-child{
        line-height:70px ;
    }

    footer {
        margin-bottom: 2rem;
    }

    p {
        width:80%;
    }

    h1 {
        margin-top: 6rem;
    }





