@media screen and (max-width:670px) {
header{
    padding:10% 0 0 0;
}


    .choice ol{
      width:50%;
      margin:0 auto;
      border-right:0.2px solid white;
      border-radius: 0px;
      opacity: 1;
      line-height: 10px;
    }
      .event-time,.camera,.title{
        width:22%;

      }
      .host-name{
      width:22%;
      }
    }
    th{
        font-weight:bold;
        letter-spacing: 1px;
    }
    table th,table td{
      font-size:10px;
    }
