@charset "UTF-8";
html {
 font-size: 62.5%;
}
body {
    overflow-x: hidden;
    margin: 0;
 color: black;
 text-align: center;
 font-size: 1.4rem;
 font-family: Raleway,
    "Hiragino Kaku Gothic ProN",  Meiryo,  sans-serif;
}
*, *::before, *::after {
 box-sizing: border-box;
}
a {
    text-decoration: none;
  }
.line{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    /* letter-spacing: 2; */
    position: absolute;
   top:10px;
   left:10px;
   font-size:2rem;
   margin:0;
   list-style: none;
   }

.linelogo{
    text-decoration: none;
    background-color: white;
    font-size:2.5rem;
    margin:0 3px;
    
}
#twilogo{
   color:#00aced;
   /* line-height: 2.5rem; */
   font-size:2.5rem;
   margin:0 3px;
}
.linelogo:hover{
    opacity:0.5;
}
#twilogo:hover{
    opacity:0.5;
}
li{
    list-style: none;
    position: relative;
    right: 80px;
    letter-spacing: 8px;
    width: 300px;
    border-bottom: 2px solid gray;
    font-family: 'Noto Serif JP', serif;  
    line-height: 5rem;
    font-size: 2.2rem;
}
#ham-menu a{
    text-decoration: none;
    color:gray;
}

#ham-menu {
    display:none;
    background-color: rgb(245, 245, 245);
    box-sizing: border-box;
    height: 100%;
    padding: 10px 40px;
    position: fixed;
    right: -300px;
    top: 0;
    transition: transform 0.3s linear 0s;
    width: 300px;
    z-index: 1000;
}

#ham-menu::before {
    background-color:rgb(245, 245, 245);
    border-radius: 0 0 0 10px;
    color: black;
    content: "≡";
    display: block;
    font-size: 50px; 
    height: 50px;
    line-height: 50px;
    position: absolute;
    right: 100%;
    text-align: center;
    top: 0;
    width: 50px;
}

#menu-background {
    background-color: #333;
    display: block;
    height: 100%;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: all 0.3s linear 0s;
    width: 100%;
    z-index: -1;
}

#ham-menu.is-active{
    transform: translate(-300px);
}

.header{
    background-image:url( "../static/school.jpg");
    background-size:cover;
    background-repeat:no-repeat;
}
.wrapper-header{
    padding-top:80px;
    margin: 0px auto;
    background:rgba(255,
    255,
    255,
    0.8);
}

.header-text{
    padding: 0px 0 20px;
    margin: 0 auto 0px;
}

.header-text2{
    display: table;
    table-layout: fixed;
    padding: 0px 0 20px;
    margin: 0 auto 0px;
}
.header-text3{
    display: table-cell;
}

#header-text{
    background:rgba(255,
    255,
    255,
    0.3);
    margin: 0 auto 0px;
}
.title{
    width: 90%;
    margin: 0 auto;
}
.header span{
   font-size: 4rem;
   color:blue;
}

.header h1{
    color:rgba(0,
    0,
    0,
    0.789);
    font-family: 'Permanent Marker', cursive;
    font-size: 10rem;
    letter-spacing: 10px;
}

.header p{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    letter-spacing: 5px;
    font-size: 3rem;
}

.jumpclass{
    background-color:lightgreen;
    display: inline-block;
    width: 230px;
    color: white;
    border-radius: 20px;
    border-bottom: 6px solid rgb(94,
    228,
    94);
    text-decoration: none;
    letter-spacing: 3px;;
}

.jumpclass:hover{
    background-color:rgb(183,
    237,
    183);
}

.jumpclass:active {
    transform: translateY(6px);
    border-bottom: none;
    padding-bottom: 6px;
}

.jumpclass h3{
    margin: 10px 20px;
}

.jump {
    display: table;
    width: 230px;
    margin: 0 30px;
    background-color:lightgreen;
    color: white;
    border-radius: 20px;
    border-bottom: 6px solid rgb(94,
    228,
    94);
    text-decoration: none;
    letter-spacing: 3px;;
}
  
.jump:hover{
    background-color:rgb(183,
    237,
    183);
}

  .jump:active {
      transform: translateY(6px);
      border-bottom: none;
}

  .jump h3{
      margin: 10px 20px;
}


@keyframes AnimationName {
    0%{background-position: 0% 50%
    }
    50%{background-position: 100% 50%
    }
    100%{background-position: 0% 50%
    }
}

.school{
    padding-top: 100px;
}

.img{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-size: cover;
    border-radius: 50%;
    border: 7px solid;
}

.ku{
    color:blue;
    background-color: white;
}

.kg{
    color:yellow;
}

.du{
    color:purple;
}


.ru{
    
    color:red;
    background-color: white;
}


.wrapper-about{

   display: table;
   width: 100%;
   table-layout: fixed;
}
    



.school-box{
        display: table-cell;
        padding:70px 0;
}

.school-text{
    color:black;
    background-color:rgba(255,
    255,
    255,
    0.8);
    font-family: 'M PLUS Rounded 1c', sans-serif;
    width: 350px;
    padding: 10px;
    margin: 30px auto;
    font-size: 3.5rem;
    letter-spacing: 10px;
    font-weight: 1;
    border-radius: 30px;
}



.explain{
    background-image:url( "../static/friend.jpg");
    background-size:cover;
}

.explain-text{
    width: 100%;
    padding: 80px 20px 40px;
    margin: 0px auto;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 2rem;
    line-height: 2;
    background-color:rgba(255,
    255,
    255,
    0.9);
}

.explain-text h1{
    color:#263238;
    font-size: 4rem;
}
.explain-text h2{
    color:red;
}

.explain-text h3{
    color:red;
}

.linelogo2{
    font-size:6rem;
    margin:0px 40px;
    
}
#twilogo2{
   color:#00aced;
   font-size:6rem;
   margin:0 40px;
}
.linelogo2:hover{
    opacity:0.5;
}
#twilogo2:hover{
    opacity:0.5;
}
footer{
    padding:10px 0;
   font-size:10px;
   letter-spacing: normal;
   }

@media(max-width: 768px){
    .line{
        font-size:1.2rem;
    }
    #ham-menu{
        display:block;
    }

    .header h1{
        font-size: 8rem;
    }
    .header p{
        font-size: 2.5rem;
    }
    .header span{
        font-size: 2.5rem;
    }
    .header-text2{

        padding-bottom: 20px;
    }
    .header-text3{
        padding-bottom: 20px;
        display:block;
    }

    .img{
        height: 180px;
        width: 180px;
        border-radius: 50%;
        background-size: cover;
        border-radius: 50%;
        border: 7px solid;
    }


    .school-text{
        color:black;
        background-color:rgba(255,
        255,
        255,
        0.8);
        font-family: 'M PLUS Rounded 1c', sans-serif;
        width: 100%;
        padding: 10px;
        margin: 10px auto 30px;
        font-size: 3rem;
        letter-spacing: 10px;
        border-radius: 0px;
    }

.school-box{
    display:block;
    padding: 0;
    }
.explain-text{
    font-size: 1.4rem;
    }

.explain-text h1{
    font-size: 3rem;
    }
}