@charset "UTF-8";
html {
 font-size: 70%;
 
}

body {
    
    font-size:2rem;
    margin:0px auto;
    text-align: center;

    color: black;
    letter-spacing: 2px;
  
   }

.w2{
  font-family: 'M PLUS Rounded 1c', sans-serif;
}
select{

font-size:15px;
}

#heito{
  height:25px;
}
.wrapper{
    background-image:url( "../static/school.jpg");
    background-size:100%;
}

a{
    text-decoration:none;
    color:white;
}
.link{
    display: flex;
    justify-content: center;
    line-height: 14px;
  
  }

.sukima{
  padding:0 40px;
}
 #links{
   position: absolute;;
   top:0;
   left:0%;
     font-size:3.5rem;
    margin:0 40px;
    list-style: none;
 } 
.links{
    width:100px;
    height:14px;
    list-style: none;
    text-align: center;
    border:3px solid white;
    border-radius:10px;
    padding:10px 10px;
    background-color:lightgreen;
  }
  .links:hover{
    background-color:rgb(183,
    237,
    183);
  }

.w2{
    padding-top:100px;
    background:rgba(255,
    255,
    255,
    0.7);

}
form{
  
    display: inline-block;
    margin:0 auto 30px;
    text-align: left;
}

.button{
    text-align: center;
}

#btns{
  font-size:1.4rem;
  margin:0 20px;
  border-radius : 5%;
  cursor        : pointer;
  padding       : 12px 12px;
  background    : #6666ff;
  color         :white;
  transition    : .3s;
  box-shadow    : 5px 5px 3px #666666;
  border        : 2px solid #6666ff;
}

#btns:hover {
  box-shadow    : none;
  color         : #6666ff;
  background    : white;
}

footer{
 padding:10px 0;
font-size:15px;
letter-spacing: normal;
}
@media(max-width: 768px){

#heito{
    height:15px;
  }
html {
        font-size: 50%;
       
        
       }
body{
   overflow-x: hidden;
}
select{

  font-size:11px;
  }
section{
  padding-bottom:4px;
}
#links{
    display:none;
    justify-content: center;
  }

  .link{
    display: flex;
    justify-content: center;
    line-height: 14px;
    padding-bottom: 20px;
  }
  .links{
    position:relative;
    right:20px;
    width:75px;
    height:14px;
    list-style: none;
    text-align: center;
    border:3px solid white;
    border-radius:10px;
    padding:10px 10px;
    background-color:lightgreen;
  }
  .w2{
    padding-top:50px;

}
  /* .sukima{
    padding:0 10px;
  } */
.button{
  padding:30px 0;
}

}
@media(max-width: 375px){
  section{
    padding-bottom:15px;
  }
}
@media(max-width: 320px){
  html {
    font-size: 30%;
   }
   .links{
    width:50px;
  }
}