@charset "UTF-8";
html {
 font-size: 62.5%;
 
}

body {
    
    font-size:2rem;
    margin:0px auto;
    text-align: center;

    color: black;
    letter-spacing: 2px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
   }




.wrapper{
    background-image:url( "../static/school.jpg");
    background-size:100%;
}

a{
    text-decoration:none;
    color:white;
}
.link{
    display: flex;
    justify-content: center;
    line-height: 14px;
  }


 #links{
     font-size:3.5rem;
    position: relative;
    top:14px;
    margin:0 40px;
    list-style: none;
 } 
.links{
    width:100px;
    height:14px;
    list-style: none;
    text-align: center;
    border:3px solid white;
    border-radius:10px;
    margin:0 40px;
    padding:10px 10px;
    background-color:lightgreen;
  }
  .links:hover{
    background-color:rgb(183,
    237,
    183);
  }

.w2{
    padding-top:10px;
    background:rgba(255,
    255,
    255,
    0.7);

}
form{
  
    display: inline-block;
    margin:0 auto 120px;
    text-align: left;
}

.button{
    text-align: center;
    
}



@media(max-width: 768px){


html {
        font-size: 45%;
        
       }
body{
   overflow-x: hidden;
}

#links{
    display:none;
    justify-content: center;
  }

  .link{
    display: flex;
    justify-content: center;
    line-height: 14px;
  }
  .links{
    position:relative;
    right:20px;
    width:75px;
    height:14px;
    list-style: none;
    text-align: center;
    border:3px solid white;
    border-radius:10px;
    margin:0 20px;
    padding:10px 10px;
    background-color:lightgreen;
  }
}