{% load static %}
<!DOCTYPE html>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
  crossorigin="anonymous"
/>
<link href="https://fonts.googleapis.com/css?family=Amatic+SC:700 "rel="stylesheet"> 
{% load bootstrap4 %} {% bootstrap_css %}
{%bootstrap_javascript jquery='full' %}
<html lang="ja">
  <head>
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-PP365N3');</script>
  <!-- End Google Tag Manager -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'club.css'%}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <title>大学サークル</title>
  </head>
<body>
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PP365N3"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <header>
    <p class="ucName">{{school.name}}</p>
    {# djangoで書き換え #}
    <div class="title_wrapper">
      <div class="title">サークル団体情報</div>
      <a class="btn1" href="{% url 'spatial' pk=school.pk %}">戻る</a>
    </div>
    {% comment %} 検索窓はDjango側で作成 queryを利用 {% endcomment %}
    <form action="" method="get" class="search_container">
    　<select name="query1" class="category">
      <option value="スポーツ系">スポーツ系</option>
      <option value="文化系">文化系</option>
      <option value="イベント系">イベント系</option>
      <option value="その他">その他</option>
    　</select> <button class="search_btn"type="submit">検索する</button>
    </form>
    
    <form action="" method="get" class="search_container">
      <input
        name="query2"
        value="{{ request.GET.query2 }}"
        type="text"
        placeholder="分野(exフットサル)"
        class="text1"
      /> <button class="search_btn"type="submit">検索する</button>
    </form>
    <a class="btn2" href="{% url 'club' pk=school.pk %}">検索結果をリセット</a>
    <p class="alert">{{alert1}}</p>
    {% comment %} 検索結果が一致していない時のみ表示。
    普通のときでも空のpタグができるので、空間があきます。 
    {% endcomment %}
  </header>
 
  <div class="container">
    {% for list in page_obj %}
    <table name="div1" class="table">
      <h3>{{list.0}}</h3>
      {% for circle in list.1%}
      <tr>
        <td class="circle" rowspan="2">{{circle.name}}</td>
        <td><a href="{{circle.tweet_link}}" style="text-decoration: none;" class="a1">
          <i class="fab fa-twitter  twitter_icon"></i>　<span>{{circle.tweet_link}}</span></a></td> 
      </tr>
      <tr>
        <td><a href="{{circle.inst_link}}" style="text-decoration: none;" class="a1">
          <i class="fab fa-instagram instagram_icon"></i>　<span>{{circle.inst_link}}</span></a></td>
      </tr>
      {% endfor %} 
    </table>
    {% endfor%}
  </div>
  <div class="col-6 offset-3 justify-content-center">
    {% if is_paginated %} 
    {% include 'pagination.html' %} 
    {% endif %}
  </div>
  <script>
    let elements = document.getElementsByClassName('a1');
    // htmlコレクションを配列に変換
    elements = Array.from( elements ) ; 
    elements.forEach(function(element){
      let attribute = element.getAttribute("href");
      if (attribute=="None"){
        element.classList.add("none");
      };
    });
  </script>
    
</body>
</html>

