{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'club.css'%}" />
    <title>大学サークル</title>
  </head>
  <body>
    <p class="ucName">{{school.name}}</p>{# djangoで書き換え #}
    <div class="title_wrapper">
      <a class="btn1">Zoom</a>
      <div class="title">サークル団体情報</div>
    </div>
    {% comment %}
    検索窓はDjango側で作成 queryを利用
    {% endcomment %}
    <form action="" method="get">
      <input name="query" value="{{ request.GET.query }}" type="text">
      <button type="submit">検索する</button>
    </form>
    <!-- <form method="get" action="#" class="search_container">
      <input type="text" size="25" placeholder="　サークルや競技名" />
      <input type="submit" value="探す" />
    </form> -->

    <div name="div1" class="table">
      {% for club in clubs1 %}
      {{club.name}}
      {% for circle in club.circle_set.all %}
      {{circle.name}}
      {% endfor %}
      {% endfor %}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="jquery.min.js" type="text/javascript"></script>
    <script src="main.js"></script>
  </body>
</html>
