{% load static %}

<!doctype html>
<html>
    <head>
        <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PP365N3');</script>
    <!-- End Google Tag Manager -->
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'zoom_list.css' %}">
        <link rel="stylesheet" href="{% static 'responsive-zoom.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>zoomlist</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body>
        <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PP365N3"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
        <header id="school{{school.id}}">
            <h1 class="name_u">{{school}}</h1>
            <ul class="choice btn{{school.id}}">
                <ol><a href="{% url 'top' %}">ホームへ</a></ol>
                <ol><a href="{% url 'club' pk=school.pk %}">サークル</a></ol>
                <ol><a href="{% url 'explanation' pk=school.pk %}">使い方</a></ol>
                <ol><a href="{% url 'post' pk=school.pk %}">投稿する</a></ol>
            </ul>
        </header>
        <div class="list">
            <table>
                <tr>
                <th class="event-time">開催日時</th>
                <th class="camera">カメラ</th>
                <th class="title">話題</th>
                <th class="host-name">主催</th>
                <th></th>
                </tr>
                <div class="zoom-item">
                    {% for list in lists %}
                    <tr class="change-color">
                        <td class="event-time ">{{list.datetime}}　{{list.date}}</td>
                        <td class="camera">{{list.camera}}</td>
                        <td class="title">{{list.title}}</td>
                        <td class="host-name">{{list.name}}</td>
                        <td><span>+</span></td>
                    </tr>
                    <tr class="hide-details">
                        <td colspan="5"><h3>投稿者から一言</h3><p>{{list.content}}</p><br><a class="zoom-link" href="{{list.url}}">参加する</a></td>
                    </tr>
                    {% endfor %}
                </div>
            </table>
        </div>
        <script type= "text/javascript" src="{% static 'zoomlist.js' %}"></script>
    </body>
</html>


