{% load static %}

<!doctype html>
<html>
    <head>
        <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PP365N3');</script>
    <!-- End Google Tag Manager -->
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'spatial.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
        <title>spatial</title>
    </head>
    <body id="school{{school.id}}">
        <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PP365N3"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
        <header>
            <div class="line li{{school.id}}"><a href="https://line.me/R/ti/p/%40050llyzu" class="fab fa-line linelogo"　id="linelogo" style="color:limegreen;"　></a> 
                <a href="https://twitter.com/SecondClass0" class="fab fa-twitter twilogo" id="twilogo"></a>   新入生の相談・お問い合わせ等はこちらへ！</div>
            <h1 class="name_u{{school.pk}}">{{school}}</h1>
            <div class="choice btn{{school.id}}">
                <a href="{% url 'top' %}">ホームへ</a>
                <a href="{% url 'club' pk=school.pk %}">サークル紹介</a>
            </div>
        </header>
        <div class="spatial">
            <div class="cneter">
                <a href="{% url 'exsp' pk=school.pk　space="circle" %}" class="btn-circle-fishy">サークルの部屋</a>
            </div>
            <div class="row">
                <a href="{% url 'exsp' pk=school.pk　space="faculty" %}" class="btn-circle-fishy left">学部の部屋</a>
                <a href="{% url 'exsp' pk=school.pk　space="space" %}" class="btn-circle-fishy right">その他の部屋</a>
            </div>
        </div>
        <footer class="footer fo{{school.id}}">Copyright © 2020 SecondClass Inc. All Rights Reserved. </footer>
    </body>
</html>


