
{% load static %}
<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'zoom_list.css' %}">
        <title>zoomlist</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body>
        <header id="school{{school.id}}">
            <h1 class="name_u">{{school}}</h1>
            <ul class="choice">
                <ol><a href="{% url 'top' %}">ホームに戻る</a></ol>
                <ol><a href="{% url 'club' pk=school.pk %}">サークル</a></ol>
                <ol><a href="{% url 'post' pk=school.pk %}">投稿する</a></ol>
            </ul>
        </header>
        <div class="list">
            <table>
                <tr>
                <th class="event-time">開催日時</th>
                <th class="camera">カメラ</th>
                <th class="title">話題</th>
                </tr>
                <div class="zoom-item">
                    {% for list in lists %}
                    <tr class="change-color">
                        <td class="event-time ">{{list.date}}</td>
                        <td class="camera">{{list.camera}}</td>
                        <td class="title">{{list.title}}</td>
                        <td><span>+</span></td>
                    </tr>
                    <tr class="hide-details">
                        <td colspan="4"><h3>投稿者から一言</h3><p>{{list.content}}</p><br>url : <a href="{{list.url}}">{{list.url}}</a></td>
                    </tr>
                    {% endfor %}
                </div>
            </table>
        </div>
        <script type= "text/javascript" src="{% static 'zoomlist.js' %}"></script>
    </body>
</html>

