{% load static %}
<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>zoomlist</title>
        <link rel="stylesheet" href="{% static 'zoom_list.css' %}">
    </head>
    <body>
        <header>
        <h1>OO大学</h1>
        </header>
        <ul class="choice">
            <ol><a>掲示板</a></ol>
            <ol><a>サークル</a></ol>
            <ol><a>絞り込み</a></ol>
            <ol><a>投稿する</a></ol>
        </ul>
        <div class="list">
            <table>
                <tr>
                <th class="event-time">開催日時</th>
                <th class="camera">カメラ</th>
                <th class="title">タイトル</th>
                <th> </th>
                </tr>
                <tr>
                    <td class="event-time">4/30 AM9:00</td>
                    <td class="camera">あり</td>
                    <td class="title">OO学科専攻の学生が気をつけておくべきこと</td>
                    <td>+</td>
                </tr>
                <tr>
                    <td class="event-time">5/1 PM2:00</td>
                    <td class="camera">なし</td>
                    <td class="title">XXX学科の新入生と話したい</td>
                    <td>+</td>
                </tr>
                <tr>
                    <td class="event-time">5/3 PM9:00</td>
                    <td class="camera">なし</td>
                    <td class="title">OOO学部の課題について</td>
                    <td>+</td>
                </tr>
            </table>
        </div>
    </body>
</html>
