{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">

    <link rel="stylesheet" href="{% static 'zoom_form.css'%}">
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="wrapper">
      <div class="w2">

        <p id="links">{{school}}</p>
        <ul class="link">
          <div class="sukima">
            <a  href="{% url 'top' %}"><li class="links" >ホームへ</li></a>
          </div>

          <div class="sukima">
          <a  href="{% url 'club' pk=school.pk %}"><li class="links" >サークル</li></a>
        </div>

          <div class="sukima">
          <a  href=""><li class="links" >戻る</li></a>
          <!-- 戻るのリンク付けお願いします。 -->
          </div>
         
        </ul>

    <form action="" method="POST">{% csrf_token %}
      <section>
        <p>ZOOMのURL<br>
        <input type="text" placeholder="ZOOMのURLを貼り付けてください。" size="50" name="url" required></p>
      </section>
    <section>
        <p>カメラの使用有無<br>
            <input name="camera" value="使用する" type="radio" required/>使用する
            <input name="camera" value="使用しない" type="radio"/>使用しない
            <input name="camera" value="どちらでも" type="radio"/>どちらでも</p>
          </section>   
        <section>
            <p>話題<br>
                <select name="title" required>
                <option value="サークル">サークルについて</option>
                <option value="学部">自分の学部について</option>
                <option value="バイト">バイトについて</option>
                <option value="友達">友達作り</option>
                <option value="何でも・雑談">何でも・雑談</option>
                <option value="その他">その他</option>
                </select>
                </p>
              </section>
            <section>
                <p>名前(匿名可)<br>
        <input type="text" size="50" name="name" required></p>
      </section>
    <section>
        <p>一言<br>
        <input type="text" placeholder="(例)法学部の新入生で交流したい！" size="50" name="content" required></p>
      </section>
        <section>
        <p>交流開始時刻 (30分刻みで入力できます)<br>
        <input type="time"value="12:00" step="1800" name="date" required></p>
      </section>
        <div class="button" >
        <input id="btns"  class="main_btn" type="submit" style="-webkit-appearance: none;" value="投稿する">
        <a id="btns" href="{% url 'post' pk=school.pk %}">リセット</a>
        {# <input type="reset"style="-webkit-appearance: none;width: 100px;height:40px;  " value="リセット"> #}
      </div>
    </form>
 
  </body>
  </div>
</div> 
</html>