{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">

    <link rel="stylesheet" href="{% static 'zoom_form.css'%}">
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="wrapper">
      <div class="w2">


        <ul class="link">
          <li id="links">{{school}}</li>
          <a  href="{% url 'club' pk=school.pk %}"><li class="links" >サークル</li></a>
          <a  href="{% url 'top' %}"><li class="links" >TOPへ</li></a>
      </ul>

    <form action="" method="POST">{% csrf_token %}
        <p>ZOOMのURL<br>
        <input type="text" placeholder="ZOOMのURLを貼り付けてください。" size="50" name="url" required></p>
        <p>カメラの使用有無<br>
            <input name="camera" value="使用する" type="radio" required/>使用する
            <input name="camera" value="使用しない" type="radio"/>使用しない
            <input name="camera" value="どちらでも" type="radio"/>どちらでも</p>
            <p>会話の内容<br>
                <select name="title" required>{# 前はname="example1" #}
                <option value="サークル">サークル</option>
                <option value="学部">自分の学部について</option>
                <option value="バイト">バイトについて</option>
                <option value="友達">友達作り</option>
                <option value="何でも・雑談">何でも・雑談</option>
                <option value="その他">その他</option>
                </select>
                </p>
        <p>名前(匿名可)<br>
        <input type="text" size="50" name="name" required></p>
        <p>一言<br>
        <input type="text" placeholder="(例)法学部の新入生で交流したい！" size="50" name="content" required></p>
        <p>交流開始時刻 (30分刻みで入力できます)<br>
        <input type="time"value="00:00" step="1800" name="date" required></p>
        <div class="button" >
        <input type="submit" style="-webkit-appearance: none;width: 100px;height:40px;" value="投稿する">
        <a href="{% url 'post' pk=school.pk %}">リセット</a>
        {# <input type="reset"style="-webkit-appearance: none;width: 100px;height:40px;  " value="リセット"> #}
      </div>
    </form>
 
  </body>
  </div>
</div> 
</html>