<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="zoom.css">
    </head>
    <body>
        <header>
        <h1>OO大学</h1>
        </header>
        <ul class="choice">
            <ol><a>掲示板</a></ol>
            <ol><a>サークル</a></ol>
            <ol><a>絞り込み</a></ol>
            <ol><a>投稿する</a></ol>
        </ul>
        <div class="list">
            <table>
                <tr>
                <th>開催日時</th>
                <th>URL</th>
                <th>カメラ</th>
                <th>内容</th>
                <th>名前</th>
                <th>一言</th>
                </tr>
                <tr>
                <td class="icon bird">4/30 AM9:00</td>
                <td>http://hhhjj</td>
                <td>なし</td>
                <td>楽単教えます！</td>
                <td>田中</td>
                <td>ooo</td>
                </tr>
                <tr>
                <td class="icon whale">クジラさん</td>
                <td>潮を吹くこと</td>
                <td>ブルー</td>
                <td>海</td>
                <td>ooo</td>
                <td>ooo</td>
                </tr>
                <tr>
                <td class="icon crab">カニさん</td>
                <td>反復横飛び</td>
                <td>レッド</td>
                <td>川</td>
                <td>ooo</td>
                <td>ooo</td>
                </tr>
            </table>
        </div>
    </body>
</html>
